/* CSS Document */
@charset "utf-8";
*{
	padding: 0;
	margin: 0;
}
.container-fluid {
	background-colojr:#092A35;
	background-image:url("../images/Ilustrador brasileiro fez uma arte incrível de Itachi Uchiha em Naruto Shippuden - Critical Hits.jpg");
	background-size:cover;
	background-repeat: no-repeat;
}
.col  {
	margin-left: 25px;
}
.chu {
	margin: auto;
	padding-top: 210px;
  display: inline-block;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.container
{
	margin-top: 210px;
	background-color: currentColor;
	border-radius: 40px;
}

.block {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.block:hover .image {
  opacity: 0.3;
}

.block:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}






.block2 {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.block2 img {vertical-align: middle;}

.block2 .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 10px;
}
@media screen and (max-width: 414px){
}